<mat-card *ngIf="product">
    <mat-card-header>
        <mat-card-title>
            Name: {{ product.title }}
        </mat-card-title>
        <mat-card-subtitle>
            category: {{ product.category }}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="product.images && product.images.length > 0" [src]="product.images[0]"
        alt="{{ product.title }}" class="image_prod">
    <mat-card-content>
        <p>description: {{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Discount: {{ product.discountPercentage }}%</p>
        <p>Rating: {{ product.rating }}</p>
    </mat-card-content>

</mat-card>